USE [master]
GO
/****** Object:  Database [ABB]    Script Date: 05-Jan-25 3:18:31 PM ******/
CREATE DATABASE [ABB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ABB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ABB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ABB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ABB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ABB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ABB]
GO
/****** Object:  Table [dbo].[Aeroportet_abb]    Script Date: 05-Jan-25 3:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeroportet_abb](
	[id_abb] [int] IDENTITY(1,1) NOT NULL,
	[Aeroporti_abb] [varchar](255) NOT NULL,
	[LinjaAjrore_abb] [varchar](255) NOT NULL,
	[CmimiBiletes_abb] [int] NOT NULL,
	[idFluturimi_abb] [int] NULL,
 CONSTRAINT [PK__Aeroportet__ABB] PRIMARY KEY CLUSTERED 
(
	[id_abb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aeroportet_abb_NEW]    Script Date: 05-Jan-25 3:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeroportet_abb_NEW](
	[id_abb] [int] NOT NULL,
	[Aeroporti_abb] [varchar](255) NOT NULL,
	[LinjaAjrore_abb] [varchar](255) NOT NULL,
	[CmimiBiletes_abb] [int] NOT NULL,
	[idFluturimi_abb] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fluturimet_abb]    Script Date: 05-Jan-25 3:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fluturimet_abb](
	[idFluturimi_abb] [int] IDENTITY(1,1) NOT NULL,
	[Fluturimi_abb] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Fluturimet_abb] PRIMARY KEY CLUSTERED 
(
	[idFluturimi_abb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aeroportet_abb] ON 

INSERT [dbo].[Aeroportet_abb] ([id_abb], [Aeroporti_abb], [LinjaAjrore_abb], [CmimiBiletes_abb], [idFluturimi_abb]) VALUES (1010, N'Berlin                        ', N'EasyJet                       ', 220, 1)
INSERT [dbo].[Aeroportet_abb] ([id_abb], [Aeroporti_abb], [LinjaAjrore_abb], [CmimiBiletes_abb], [idFluturimi_abb]) VALUES (1111, N'London                        ', N'WizzAir                       ', 150, 2)
INSERT [dbo].[Aeroportet_abb] ([id_abb], [Aeroporti_abb], [LinjaAjrore_abb], [CmimiBiletes_abb], [idFluturimi_abb]) VALUES (1212, N'Turqi                         ', N'Pegasus                       ', 340, 3)
SET IDENTITY_INSERT [dbo].[Aeroportet_abb] OFF
SET IDENTITY_INSERT [dbo].[Fluturimet_abb] ON 

INSERT [dbo].[Fluturimet_abb] ([idFluturimi_abb], [Fluturimi_abb]) VALUES (1, N'Prishtine')
INSERT [dbo].[Fluturimet_abb] ([idFluturimi_abb], [Fluturimi_abb]) VALUES (2, N'Skopje')
INSERT [dbo].[Fluturimet_abb] ([idFluturimi_abb], [Fluturimi_abb]) VALUES (3, N'Bern')
SET IDENTITY_INSERT [dbo].[Fluturimet_abb] OFF
ALTER TABLE [dbo].[Aeroportet_abb]  WITH CHECK ADD  CONSTRAINT [FK_Aeroportet_abb_Fluturimet_abb] FOREIGN KEY([idFluturimi_abb])
REFERENCES [dbo].[Fluturimet_abb] ([idFluturimi_abb])
GO
ALTER TABLE [dbo].[Aeroportet_abb] CHECK CONSTRAINT [FK_Aeroportet_abb_Fluturimet_abb]
GO
USE [master]
GO
